* {
    box-sizing: border-box;
}

#mainheader {
    text-align:center;
}
#menu{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
#hero{
height: 300px;
}

#bighero {
width: 100%;
height: 100%;
}

h1, h2{
    font-family: 'Dancing Script', cursive;
    padding:30px;
}
h5{
    font-family: 'Zen Old Mincho', serif;
    padding:0px 30px 30px 30px;

}

p{
    font-family: 'Zen Old Mincho', serif;
}

button{
    font-size:15px;
    border:none;
    padding:0px;
    border-radius:10%;
}
a:link, a:visited {
    background-color: #ffdfd3;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: #e0bbe4;
}

.grid{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding:0px 30px 20px 20px;
}
#Box1, #Box2, #Box3 {
    padding:5px;
}

p{
    text-align:center;
}

footer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:20px;
}
.fa {
    padding: 10px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius:10%;
}
.fa:hover {
    opacity: 0.7;
}
.row {  
    display: flex;
    flex-wrap: wrap;
  }
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding:20px;
  }
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .grid, .row {   
    flex-direction: column;
    flex-wrap: wrap;
    }
}